.page-container{
    width: 100%;
    padding: 10px;
    gap:20px;
    background-color: #E1D9D1 ;
}

.user-make-a-post{
    background-color: gray;
    width: 90%;
    border-radius: 5px;
    gap:20px
}

.post-from-all-users{
    background-color: gray;
    gap:80px;
    width: 90%;
}

.post-profile-pic{
    width: 50%;
}

.button-post{
    height: auto;
}

.brr-post{
    background-color: #FAF9F6    ;
    border-radius: 5px;
    height: 300px;
    gap: 50px

}

.other-post-container{
    width: 90%;
    gap:20px;

}

.user-profile-pic-post-style{
    width: 50px;
}

.user-information{
    gap: 30px
}